#Fill the following paths to compile with jars:

#Location of soot.jar
soot.jar=

#Location of FlowDroid infoflow jar
infoflow.jar=
infoflow-tests.jar=

# Target JAR file
infoflow-summaries.jar=
infoflow-summaries-tests.jar=
infoflow-summaries-javadoc.jar=

# TODO: compile with projects checked out and recompile them with build.xml